@model List<rehberKayitUygulamasi.Models.tblKayitlar>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<td><a class="btn btn-success" href="/rehber/kayitFormu"> Yeni Kişi Oluştur</a></td>
<h2>Kişi Listesi</h2>
<table class="table  table-hover" id="tblKayitlar">
    <!–– tablo oluşturur ----------------------------------------------------------------------------------->
    <thead>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Telefon</th>
    <th>Soyad</th>
    <th>Telefon</th>
    </thead>

    <tbody>
        <!–– var olan kayıtları listeler --------------------------------------------------------------------->

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ad</td>
                <td>@item.soyAd</td>
                <td>@item.tel</td>
                <td><a class="btn btn-primary" href="/rehber/guncelle/@item.Id">Düzenle</a></td>





                <td><button  class="btn btn-warning btnkaydiSil" data-id="@item.Id" data-isim="@item.ad">Sil</button></td>

            </tr>
        }

    </tbody>

</table>


