@model rehberKayitUygulamasi.Models.tblKayitlar
@{
    ViewBag.Title = "kayitFormu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<!--stackowerflow dan bulduğum textbox'a sadece int girmeye izin veren function -------------------------------------->
<script type="text/javascript">
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    // detayın dibi: eğer kullanıcı zaten kayıtlı olan bir tel numarasını başka adla kaydetmeye çalışırsa hata mesajı gösterilir
    // sonrasında tel numarasını veya ad kısmını silip tekrar kaydetmeye çalışırsa
    // client tarafında kontroller yapılacağı için bu hata mesajınında servise gitmeden gösterilmemesi için yazılmıştır :)

    function hataMesajiniSil(){
        document.getElementById("msj").style.display = "none";
        
    }
</script>
@using (Html.BeginForm("kayitFormu", "Rehber", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ad)
        @Html.TextBoxFor(m => m.ad, new { @maxlength = "50", @class = "form-control", @placeholder = "Ad yazın..." })

        @Html.ValidationMessageFor(m => m.ad)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.soyAd)
        @Html.TextBoxFor(m => m.soyAd, new { @maxlength = "50", @class = "form-control", @placeholder = "Soyad yazın..." })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.tel)
        @Html.TextBoxFor(m => m.tel, new { @maxlength = "20", @class = "form-control ", onpaste = "return false", onkeypress = "return isNumberKey(event)", placeholder = "Telefon yazın..." })

        @Html.ValidationMessageFor(m => m.tel)
    </div>
    <div >
        <h4 class="hata" id="msj">@ViewBag.HtmlStr</h4>

        <div class="boslukAyarlama">
            <button type="submit" class="btn btn-success" onclick="hataMesajiniSil()">Kaydet</button>
        </div>

    </div>
    @Html.HiddenFor(m => m.Id)

}

@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}