<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        div.boslukAyarlama {
            margin-bottom: 25px;
            
        }
    </style>
    <link href="~/Content/oktay.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rehberim", "Index", "Rehber", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>
    <div class="boslukAyarlama"></div>
    <div class="container body-content">


        @RenderBody()


        <footer>
            <p>&copy; @DateTime.Now.Year - MenTech Inc.</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/duzenleme.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

